DEBUG=
SECRET_KEY=

ALLOWED_HOSTS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
HOST_DB=
PORT_DB=5432

DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
CORS_ALLOW_ALL_ORIGINS=True

TIME_ZONE=
