{% extends 'blog/base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="text-center fw-bold card box-shadow ">Сброс пароля</h1>
    <div class="col-8 mx-auto">
        <div class="card-body my-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary my-4">Отправить ссылку</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}