{% extends 'blog/base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<div class="row p-4">
<h1 class="text-center fw-bold card box-shadow">Смена пароля</h1>
<div class="col-8 mx-auto">
    <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="mb-3">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="text-danger small">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="text-danger small">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="text-danger small">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'users:profile' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
